
.whole-container{
    align-content: center;
}
.whole-container h2{
    text-align: center;
    padding: 20px;
}
.container-inner{
    display: flex;
    justify-content: center;
}
.container-image{
    display: block; 
    width: auto;
    padding-left: 20px;
    float: left;
}
.container-image img{
    display: flex;
    border: 2px solid black;
    margin: 15px;   
}
.container-text{
    align-self: center;
    text-align: center;
    margin-left: 20px;
    float: right;
    width: 35%;
}
@media screen and (max-width:675px) {
    .container-inner{
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
    }
    .container-text{
        width: 100%;
        float: none;
        margin-left: 2px;
        margin-right: 0;

}
}




/*            how can this help you               */

.whole{
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}
.binded{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3px 0;
}
.first{
    flex: 1;
    justify-content: center;
    border-right: 2px solid black;
    margin: 2px;
    padding: 10px;
    transition: 0.3s;
    margin-left: 0;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    flex: 1;
    margin: 2px;
    padding: 10px;
    transition: 0.3s;
    margin-left: 0;
}
.second-text{
    float: left;
    margin-bottom: 8px;
    margin-right: 4px;
}
.second-vid{
    float: right;
}
.second video{
    width: 280px;
    height: 100px;
    border: 2px dotted black;
}
@media screen and (max-width: 980px) {
    .whole .binded{
        margin-bottom: 5px;
        flex-basis: 40%;
    }
    .whole .binded .first{
        flex-basis: 100%;
        margin: 0;
        border-right: none;
        border-bottom: 2px solid black;
    }
    .whole .binded .second{
        margin-right: 0;
    }
    /* .whole .binded .second{
        display: block;
    }  */
}
@media screen and (max-width: 680px) {
    .whole .binded{
        flex-basis: 100%;
        margin: 0 0 spx 0;
    }
    .whole .binded .second{
        display: block;
    }
}
/* .second.sub{
    float: right;
    display: grid;
} */


/******the last image and text on home*******/


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.wrapped{
    margin: 30px auto;
    width: 50%;
}
.wrapped img{
    max-width: "320px";
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
}
.text{
  color: #000;
  font-size: 18px; 
  margin-top: 30px; 
}
#cont{
    margin-right: 0;
}
***************terms and contact*********/

/* 
/* button{
  width: 70px;
  color: #fff;
  font-size: 12px;
  padding: 6px 0;
  background: #000; 
  border: 0;
  border-radius: 12px;
  outline: none;
  margin-top: 30px; 
} */
/* .footer-col img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.foot-container{
    max-width: 1170px;
    margin:auto ;
    color:#fff;
    background-color: #000;
   
}
.footering{
    padding: 2px 0px;
    margin-top: 25px;   
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 33.3%;
    padding: 0 15px;
}
.footer-col h4{
    margin-bottom: 0px;
    position: relative;
}
.footer-col a:hover{
    color: #000;
}
@media screen  and (max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
@media screen  and (max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    } */
} */
/*MAIN BODY
